
for custom scrollbar for webkit browser

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


.patients-table { 
    margin: auto; 
    min-width: 100vh;
    padding: 0em;
  }
  
  .table-container {
    margin: auto;
    padding: 0;
    border: 1px solid #068cca;
    border-radius: 5px;
  }
  
  td {
    text-align: center;
    vertical-align: middle;
  }
  
  .uk-table {
    width: 75%;
    margin: auto;
  }
/* below here is good */
.uk-table tbody tr {
  border: 1px solid #e5e5e5;
}
  .uk-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .blue-header {
    background-color: #46c1fa;
    color: white;
    height: 35px;
    font-family: 'Roboto-light', sans-serif;
    text-align:center;
  }

  th:first-child {
    border-top-left-radius: 10px;
  }

  th:last-child {
    border-top-right-radius: 10px;
  }

  .ExamsTable-container {
    height: 400px; 
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .ExamsTable-container table thead {
    position: sticky;
    top: 0;
    background-color: #46c1fa;
    height: 50px
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    align-self: center;
  }
  
  .pages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .pages li {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .active {
    font-weight: bold;
  }

  .pagination a.active {
    background-color: #46c1fa;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #46c1fa;}
  